matplotlib==3.8.2
pandas==2.1.4
tensorflow==2.15.0
shap==0.44.0
xlrd==2.0.1
openpyxl==3.1.2
numpy==1.26.2
seaborn==0.13.0
colorama==0.4.6
scipy==1.11.4
scikit-learn==1.3.2
tqdm==4.66.1
imbalanced-learn==0.11.0